.register {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 358px;
    margin: 0 auto;
}

input:-internal-autofill-selected {
    background-color: black;
}

.register__login-link {
    color: #fff;
    text-decoration: none;
}