.header {
  /*max-width: 320px;*/
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 0 38px;
  display: flex;
  justify-content: space-between;
}

.header__status {
  color: white;
  
  margin: 6px 0 46px ;
}

@media screen and (max-width: 540px) {
  .header {
    margin-bottom: 36px;
    flex-direction: column;
  }
}


